$transparent-border: transparent;
$transparent-background: transparent;

#NamePlate {
    $margins: 20px;
    font-size: 100px;
    top: 10%;
    margin-top: $margins;
    margin-bottom: $margins;
    font-family: 'Open Sans', sans-serif;
}

.nav.nav-tabs {
    border-color: black;
}

.nav-item button {
    $border: 0.1px solid;
    $border-radius: 7.5px;

    font-family: 'Work Sans', sans-serif;
    background-color: $transparent-background;
    border: none;
    border-bottom: 0.25px solid black;
    padding: 0 20px;
    width: 100%;
    height: 50px;
    border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
    border-top: $border $transparent-border;
    border-right: $border $transparent-border;
    border-left: $border $transparent-border;
    font-size: large;
    color: white;
    margin-left: 25px; /* Adjust margin-left as needed */
    &:hover(:not(.nav-item button.enabled)) {
        $borders: $border rgb(75, 75, 75);
        border-top: $borders;
        border-right: $borders;
        border-left: $borders;
    }
    &.enabled {
        $borders: $border rgb(0,0,0);
        background-color: $transparent-background;
        border-bottom-color: #383838;
        border-top: $borders;
        border-right: $borders;
        border-left: $borders;
        color: white;
    }
}